.TeamListli{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.TeamListli div img{
  height: 16em;
  width: 16em;
  /* border: 1px solid black; */
}

.container1838315 img{
  filter: invert(100%);
  /* background-color: black; */
}
.container5 img{
  filter: invert(100%);
  /* background-color: black; */
}
